/* GLOBAL */
.green-app{background-color: rgb(169,212,17) !important;}
[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after { background-color: rgb(169,212,17);border: 2px solid rgb(169,212,17);}

/* NAV */
nav .logo {margin: 8px 15px;}
nav .title-nav{color: #fff; font-weight: bold; font-size: 17px;}
nav ul li .material-icons {margin-left: 15px;}
nav ul li a{color: #fff; font-weight: bold; font-size: 14px;}

/* SIDEBAR */
#mobile-demo {padding-top: 15px;}
#mobile-demo .logo {margin: 0 0 12px 15px;}
#mobile-demo li{padding-left: 15px;}
#mobile-demo li a{padding: 0 15px;}